@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

$color1: rgb(211, 27, 57);
$black1: rgb(28, 28, 28);
$black2: rgb(49, 49, 49);
$black3: rgb(70, 70, 70);
$white: rgb(207, 207, 207);
$grey: rgb(95, 95, 95);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.356);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

body {
  color: $white;
  height: 100vh;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(150deg, rgba(255,138,0,1) 0%, rgba(239,215,0,1) 100%);
  transition: 0.2s;
  color: white;

  &:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
}

input,
textarea {
  border-radius: 7px;
  border: none;
  resize: none;
  margin: 5px;
  padding: 8px;
  background: $white; 
}

.wallet__connexion {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
}

.image-upload-button {
  padding: 8px 10px;
  border-radius: 7px;
}

.preview-nft {
  width: 75%;
}

.nft-anounces {
  display: flex;
  width: 100vw;
}

.nft-anounce {
  width: 33%;
  padding: 30px;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(83,83,83,1) 100%);
  box-shadow: 0 3px 20px rgb(0 0 0 / 36%);
  border-radius: 20px;
}

.anounce-image {
  width: 75%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.nft-anounce h1{
  margin-bottom: 20px;
}

.nft-anounce h3{
  margin-bottom: 20px;
}

.anounce-separation {
  height: 2px;
  width: 80%;
  background-color: rgb(207, 207, 207);
  margin-bottom: 20px;
}

.nft-anounce form {
  display: grid;
}
.nft-anounce form input {
  text-align: center;
}

